In [1]:
import pandas as pd
from collections import defaultdict

In [2]:
def action_append(ticker, action, price, volume, df, info_dict):
    if action == 'B':
        info_dict[ticker].append(volume)
    elif action == 'S':
        info_dict[ticker][0] -= volume
        while info_dict[ticker][0] <= 0:
            left_sell_vol = info_dict[ticker].pop(0)
            if left_sell_vol == 0:
                break
            info_dict[ticker][0] += left_sell_vol
            
    df.loc[len(ticker_df)] = [ticker, action, price, volume]
    return df, info_dict

In [17]:
ticker_df = pd.DataFrame(columns=['ticker', 'action', 'price', 'volume'])
ticker_dict = defaultdict(list)

ticker_df, ticker_dict = action_append('AAPL', 'B', 140, 200, ticker_df, ticker_dict)
ticker_df, ticker_dict = action_append('MSFT', 'B', 100, 150, ticker_df, ticker_dict)
ticker_df, ticker_dict = action_append('MSFT', 'B', 120, 200, ticker_df, ticker_dict)
ticker_df, ticker_dict = action_append('AAPL', 'B', 130, 100, ticker_df, ticker_dict)
ticker_df

  ticker action  price  volume
0   AAPL      B    140     200
1   MSFT      B    100     150
2   MSFT      B    120     200
3   AAPL      B    130     100

In [18]:
ticker_dict, ticker_df['ticker'].unique()

(defaultdict(list, {'AAPL': [200, 100], 'MSFT': [150, 200]}),
 array(['AAPL', 'MSFT'], dtype=object))

In [19]:
ticker_df, ticker_dict = action_append('MSFT', 'S', 110, 150, ticker_df, ticker_dict)
ticker_df, ticker_dict = action_append('AAPL', 'S', 115, 250, ticker_df, ticker_dict)
ticker_df

  ticker action  price  volume
0   AAPL      B    140     200
1   MSFT      B    100     150
2   MSFT      B    120     200
3   AAPL      B    130     100
4   MSFT      S    110     150
5   AAPL      S    115     250

In [20]:
ticker_dict

defaultdict(list, {'AAPL': [50], 'MSFT': [200]})